Power BI course learning/\[001]\[LEC]_CHA_01_SEC_01_SSEC_01_Power_BI_Desktop_001_Introduction_to_Power_BI.pbix
Power BI course learning/\[002]\[PRO]_CHA_01_SEC_01_SSEC_01_Power_BI_Desktop_001_Import_And_Save_Data.pbix
Power BI course learning/\[003]\[PRO]_CHA_01_SEC_01_SSEC_01_Power_BI_Desktop_002_Format_Salary_As_Currency.pbix
Power BI course learning/\[004]\[PRO]_CHA_01_SEC_01_SSEC_01_Power_BI_Desktop_003_Total_Employee_By_Department.pbix
Power BI course learning/\[005]\[PRO]_CHA_01_SEC_01_SSEC_01_Power_BI_Desktop_004_Create_Key_Matrix_Card.pbix
Power BI course learning/\[007]\[PRO]_CHA_01_SEC_01_SSEC_01_Power_BI_Desktop_006_Filter_By_Active_Status.pbix
Power BI course learning/\[006]\[PRO]_CHA_01_SEC_01_SSEC_01_Power_BI_Desktop_005_New_Employee_By_Month.pbix
Power BI course learning/\[008]\[PRO]_CHA_01_SEC_01_SSEC_01_Power_BI_Desktop_007_Rename_And_Add_Page.pbix
Power BI course learning/\[009]\[LEC]_CHA_01_SEC_02_SSEC_02_Dashboard build_001_Dashboard_Build.pbix
Power BI course learning/\[010]\[PRO]_CHA_01_SEC_02_SSEC_02_Dashboard_Build_001_Unique_Department_Card.pbix
Power BI course learning/\[012]\[PRO]_CHA_01_SEC_02_SSEC_02_Dashboard build_003_Canvas_And_Visual_Arrangement.pbix
Power BI course learning/\[011]\[PRO]_CHA_01_SEC_02_SSEC_02_Dashboard_Build_002_Format_Empolyee_Dashboard.pbix
Power BI course learning/\[013]\[PRO]_CHA_01_SEC_02_SSEC_02_Dashboard build_004_Apply_Dark_Mode_Theme.pbix
Power BI course learning/\[014]\[LEC]_CHA_02_SEC_01_Column_And_Bar_Chart_001_Create_Column_And_Bar_Chart.pbix
Power BI course learning/\[015]\[PRO]_CHA_02_SEC_01_Column_And_Bar_Chart_001_Hourly_Median_Salary_Bar_Chart.pbix
Power BI course learning/\[017]\[LEC]_CHA_02_SEC_02_Line_And_Area_Chart_001_Create_Line_And_Area_Chart.pbix
Power BI course learning/\[019]\[PRO]_CHA_02_SEC_02_Line_And_Area_Chart_002_Top_5_Country_Job_Posting.pbix
Power BI course learning/\[016]\[PRO]_CHA_02_SEC_01_Column_And_Bar_Chart_002_Job_Count_By_Country.pbix
Power BI course learning/\[018]\[PRO]_CHA_02_SEC_02_Line_And_Area_Chart_001_Quarterly_Job_Count_Trend.pbix
Power BI course learning/\[020]\[PRO]_CHA_02_SEC_02_Line_And_Area_Chart_003_Salary_VS_Job_count_chart.pbix
Power BI course learning/\[021]\[PRO]_CHA_02_SEC_02_Line_And_Area_Chart_004_Non_Senior_Job_Trend.pbix
Power BI course learning/\[023]\[PRO]_CHA_02_SEC_03_Common_Chart_001_Job_Type_Comparison.pbix
Power BI course learning/\[027]\[PRO]_CHA_02_SEC_04_Map_Charts_001_Health_Insurance_Map.pbix
Power BI course learning/\[030]\[LEC]_CHA_02_SEC_05_Uncommon_Charts_001_Create_Uncommon_Charts.pbix
Power BI course learning/\[031]\[PRO]_CHA_02_SEC_05_Uncommon_Charts_001_Job_Count_By_Country.pbix
Power BI course learning/\[032]\[PRO]_CHA_02_SEC_05_Uncommon_Charts_002_Salary_Distribution.pbix
Power BI course learning/\[034]\[LEC]_CHA_02_SEC_06_Tables_001_Create_Tables.pbix
Power BI course learning/\[035]\[PRO]_CHA_02_SEC_06_Tables_001_Load_And_Format_Job_Data.pbix
Power BI course learning/\[033]\[PRO]_CHA_02_SEC_05_Uncommon_Charts_003_Box_And_Whisker_Chart.pbix
Power BI course learning/\[029]\[PRO]_CHA_02_SEC_04_Map_Charts_003_ArcGIS_Map_Of_US_Job.pbix
Power BI course learning/\[028]\[PRO]_CHA_02_SEC_04_Map_Charts_002_Remote_Job_With_Insurance_Map.pbix
Power BI course learning/\[025]\[PRO]_CHA_02_SEC_03_Common_Chart_003_Job_Postings_By_Title.pbix
Power BI course learning/\[024]\[PRO]_CHA_02_SEC_03_Common_Chart_002_Job_Postings_By_Country.pbix
Power BI course learning/\[026]\[LEC]_CHA_02_SEC_04_Map_Charts_001_Create_Map_Charts.pbix
Power BI course learning/\[022]\[LEC]_CHA_02_SEC_03_Common_Chart_001_Create_Common_Chart.pbix
Power BI course learning/\[036]\[PRO]_CHA_02_SEC_06_Tables_002_Matrix_Table_With_Conditional_Formatting.pbix
Power BI course learning/\[038]\[PRO]_CHA_02_SEC_07_Cards_001_Create_Job_Cards.pbix
Power BI course learning/\[037]\[LEC]_CHA_02_SEC_07_Cards_001_Create_Cards.pbix
Power BI course learning/\[040]\[PRO]_CHA_02_SEC_07_Cards_003_Company_Job_Cards.pbix
Power BI course learning/\[041]\[LEC]_CHA_02_SEC_08_Slicers_001_Create_Slicers.pbix
Power BI course learning/\[043]\[PRO]_CHA_02_SEC_08_Slicers_002_Hourly_Salary_Slicer.pbix
Power BI course learning/\[045]\[PRO]_CHA_02_SEC_08_Slicers_004_Tile_Slicer_For_Job_Country.pbix
Power BI course learning/\[046]\[PRO]_CHA_02_SEC_08_Slicers_005_Dropdown_Slicer_With_Caret.pbix
Power BI course learning/\[047]\[LEC]_CHA_02_SEC_09_Buttons_And_Bookmarks_001_Create_Buttons_And_Bookmarks.pbix
Power BI course learning/\[049]\[PRO]_CHA_02_SEC_09_Button_And_Bookmark_002_Add_Information_Button.pbix
Power BI course learning/\[048]\[PRO]_CHA_02_SEC_09_Button_And_Bookmark_001_Create_Home_Page.pbix
Power BI course learning/\[044]\[PRO]_CHA_02_SEC_08_Slicers_003_Before_Date_Filter.pbix
Power BI course learning/\[042]\[PRO]_CHA_02_SEC_08_Slicers_001_Reuse_Chart_For_Slicers.pbix
Power BI course learning/\[039]\[PRO]_CHA_02_SEC_07_Cards_002_Hourly_Salary.pbix
Power BI course learning/\[052]\[PRO]_CHA_02_SEC_09_Button_And_Bookmark_005_Bookmark_Navigation.pbix
Power BI course learning/\[051]\[PRO]_CHA_02_SEC_09_Button_And_Bookmark_004_Clear_All_Slicer_Button.pbix
Power BI course learning/\[050]\[PRO]_CHA_02_SEC_09_Button_And_Bookmark_003_Page_Navigation_Button.pbix
